body{
    margin: 0%;
    padding: 0%;
    background-color: #2f3e46;;
    justify-items: center;
}

.page{
    margin: 0px;
    padding: 0px;
    width: fit-content;
    border-radius: 1rem;
    background-color: #2f3e46;
    color: #cad2c5;
    text-align: center;
    flex-wrap: wrap;
}

.container{
    flex-wrap: wrap;
    width: 400px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{
    height: 120px;
    margin: 4px;
    font-size: 8vmin;
    width: 120px;
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0px ,0px ,0px ,0.5px cyan);
    background-color: #52796f;
    color: black;

}

.box:hover{
        cursor: pointer;
        background-color: #52794f;
}